body{
    font-family:'Roboto';
}
.background{
    background-color: rgb(31,  41,  55);
}
.container{
 display: flex;
 
}
h5{
    flex: 1;
    font-size: 18px;
    color: rgb(229, 231, 235);
}
h4{
    flex: 1;
    color: rgb(249, 250, 248);
    font-size: 24px;
}
p{
    font-size: 18px;
    flex: 1;
    color: rgb(229, 231, 235);
}
img{
    flex: 1;
}
h1{
    color: rgb(249, 250, 248);
    font-size: 48px;
    font-weight: bold;
}
h2{
    font-size: 36px;
    font-weight: bold;
    color: rgb(31,  41,  55));
}
.flex-container {
    flex-direction: row;
    display: flex;
    margin: 10px;
  }
.flex-container div {
  background: white;
  border: 2px solid rgb(0, 119, 255);
  height: 150px;
  flex: 1 1 auto;
}